


<div class="background-banner">
    @*adicionar imagem no css*@
    <nav>
        <img src="~/Image/Logo.png" class="logo" />
    </nav>

    <div class="left-burguer">
        <img src="~/image/Hamburguerbanner.png" class="left-burguer-image">
    </div>

    <div class="rigth-banner">
        <h1 data-aos="flip-down" data-aos-delay="500" data-aos-duration="1000">NIVEL CASTLE BURGUER</h1>
        <br />
        <h1><span>DE SABOR</span></h1>
    </div>
</div>

<section class="background-fome">

    <div class="left-fome">
        <h1>PARA TODOS<br />
        OS TIPOS<br />
        DE FOME.</h1>

        <h7>CONHEÇA NOSSO MENU<br />
        NIVEL CASTLE.</h7>

        <div class="button-container">
            <button class="cta-button">VER CARDÁPIO</button>
        </div>
    </div>

    <div class="right-burguer-fome">
        <img src="~/image/burguerexplosivo.png" class="right-burguer-explosivo">
    </div>

</section>

<section class="background-castelo">

    <div class="left-rei">
        <h1>SINTA-SE COMO</h1>
        <br />
        <h1>UM VERDADEIRO</h1>
        <br />
        <h1>REI !</h1>

        <div class="right-batata">
            <img src="~/image/batataflutuando.png" class="right-batata-flutuando">
        </div>
    </div>

    <div class="right-burguer-rei">
        <img src="~/image/hamburguer-batata-825x660.jpg" class="right-burguer-rei">@*alterar niome*@

        <div class="right-tomate-rei">
            <img src="~/image/Tomate.png" class="right-tomate">@*alterar niome*@
        </div>

    </div>


</section>

<section class="background-cardapio">

    <div class="cardapio">
        <img src="~/Image/topocardapio.png" class="Imagem-cardapio">
    </div>
    <div class="cards-and-button">
        <div class="card-container">
            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>

            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>

            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>

            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>


            @*<div class="card">Conteúdo do Card 2</div>
                <div class="card">Conteúdo do Card 3</div>
                <div class="card">Conteúdo do Card 4</div>*@
        </div>
      @*  /************************************************************************/*@
        <div class="button-cardapio">
            <button type="button" class="custom-button"> Ver Cardápio Completo</button>
        </div>
    </div>
</section>


<section class="background-descricao">
    <div class="Caixa">
        <div class="descricao">
            <i class="fa-brands fa-instagram"></i>
            <h5>RECEITAS ORIGINAIS</h5>
            <div class="Pequeno-texto">
                <p>
                    Nossas receitas são feitas com todo cuidado para chegar na
                    combinação perfeita para nossos clientes!
                </p>
            </div><!--Paragrafo-button-->
        </div><!--Card-->

        <div class="descricao">
            <i class="fa-solid fa-leaf"></i>
            <h5>INGREDIENTES QUALIDADE</h5>
            <div class="Pequeno-texto">
                <p>
                    Todos os ingredientes são selecionados cuidadosamente para elevar o sabor
                    e trazer qualidade à sua refeição.
                </p>
            </div><!--Paragrafo-button-->
        </div><!--Card-->

        <div class="descricao">
            <i class="fa-brands fa-instagram"></i>
            <h5>DELIVERY RÁPIDO</h5>
            <div class="Pequeno-texto">
                <p>
                    O nosso time de entrega é brabo! Sempre tentamos otimizar nosso processo para que a entrega
                    seja rápida e seu lanche chegue quentinho :)
                </p>
            </div><!--Paragrafo-button-->
        </div><!--Card-->
    </div>



</section>
<div class="background-onda">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#CD7F32" fill-opacity="1" d="M0,32L34.3,53.3C68.6,75,137,117,206,160C274.3,203,343,245,411,229.3C480,213,549,139,617,117.3C685.7,96,754,128,823,165.3C891.4,203,960,245,1029,234.7C1097.1,224,1166,160,1234,128C1302.9,96,1371,96,1406,96L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
    </svg>
</div>

<section class="background-telefone">

    <div class="left-telefone">
        <img src="~/image/Telefone.png" class="left-telefone-image">
    </div>

    <div class="rigth-telefone">
        <h1>Peça agora e desfrute de<br />
        uma explosão de <span>Sabor Real</span><br />
        em cada mordida!</h1>
        

        <div class="button-telefone">
            <button type="button" class="telefone-button"> Pedir agora</button>
        </div>

    </div>
</section>
